.DisplayAll {
    background: #1A1A40;
    padding: 20px;
    border: 5px solid rgb(255, 0, 127);
    border-radius: 5px;
    max-width: 800px;
    margin: 40px auto;
  }
  
.DisplayAll table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.DisplayAll th, .DisplayAll td {
    border: 1px solid #FF55A3;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}

.DisplayAll th {
    background-color: #FF55A3;
    color: #fff;
}

.DisplayAll td {
    background-color: #1A1A40;
    color: #fff;
}