@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-image: url('./purple.gif');
  background-size: 100% 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

h1 {
  padding: 10px;
  color: white;
}